In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [57]:
data = pd.read_csv("Data/wrds_adj.csv", engine="pyarrow",
                   parse_dates=True) 
data.drop("PERMCO", axis=1, inplace=True)
data

          PERMNO        date       PRC  CFACPR
0          10001  2000-01-03    8.5625     1.5
1          10001  2000-01-04    8.4375     1.5
2          10001  2000-01-05    8.5625     1.5
3          10001  2000-01-06    8.5000     1.5
4          10001  2000-01-07    8.4375     1.5
...          ...         ...       ...     ...
42561772   93436  2022-12-23  123.1500     1.0
42561773   93436  2022-12-27  109.1000     1.0
42561774   93436  2022-12-28  112.7100     1.0
42561775   93436  2022-12-29  121.8200     1.0
42561776   93436  2022-12-30  123.1800     1.0

[42561777 rows x 4 columns]

In [58]:
stock = pd.read_pickle("Data/allstock_reduced.pickle")
col = stock.columns

In [59]:
sp500 = data.loc[data.PERMNO.isin(col)]
sp500

          PERMNO        date      PRC  CFACPR
61288      10078  2000-01-03   76.500     0.5
61289      10078  2000-01-04   71.750     0.5
61290      10078  2000-01-05   71.875     0.5
61291      10078  2000-01-06   68.000     0.5
61292      10078  2000-01-07   71.875     0.5
...          ...         ...      ...     ...
42561772   93436  2022-12-23  123.150     1.0
42561773   93436  2022-12-27  109.100     1.0
42561774   93436  2022-12-28  112.710     1.0
42561775   93436  2022-12-29  121.820     1.0
42561776   93436  2022-12-30  123.180     1.0

[4272328 rows x 4 columns]

In [60]:
sp500.loc[:,"PRC"] = np.abs(sp500.PRC)

In [65]:
sp500_drop = sp500.dropna()

In [67]:
sp500_drop.loc[:,"Adj_close"] = sp500_drop.PRC / sp500_drop.CFACPR

C:\Users\user\AppData\Local\Temp\ipykernel_8800\2190342535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_drop.loc[:,"Adj_close"] = sp500_drop.PRC / sp500_drop.CFACPR

In [72]:
data_pp = sp500_drop.reset_index(drop=True)[["PERMNO","date","Adj_close"]]
data_pp

         PERMNO        date  Adj_close
0         10078  2000-01-03     153.00
1         10078  2000-01-04     143.50
2         10078  2000-01-05     143.75
3         10078  2000-01-06     136.00
4         10078  2000-01-07     143.75
...         ...         ...        ...
4260828   93436  2022-12-23     123.15
4260829   93436  2022-12-27     109.10
4260830   93436  2022-12-28     112.71
4260831   93436  2022-12-29     121.82
4260832   93436  2022-12-30     123.18

[4260833 rows x 3 columns]

In [74]:
data_pp.to_pickle("Data/allstock_adj.pickle")